/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
:root {
  --primary-color: #161e22;
  --secondary-color: #ff4d00;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #161e22;
  color: white;
  font-family: "Poppins", sans-serif;
}

/*=============== HEADER ===============*/
header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background: #161e22;
  z-index: 1;
}

nav {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.nav_logo {
  padding-left: 30px;
}

.nav_logo img {
  height: 60px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  display: flex;
  padding: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: 0.6s;
}

nav ul li a:hover {
  color: aqua;
}

/*=============== MAIN ===============*/

main {
  position: relative;
  top: 100px;
}

h1 {
  font-size: 60px;
  padding-left: 20%;
  color: white;
}

/*=============== HOME ===============*/

.home {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
}

.home i {
  font-size: 4em;
  rotate: 45deg;
}

.home .left {
  width: 3%;
  padding: 5% 0 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.home .right {
  width: 70%;
  font-size: 4.5em;
  font-weight: 700;
  line-height: 2.5em;
  padding: 5% 3% 8% 10%;
}

.home img {
  position: absolute;
  right: 3%;
  top: 15%;
  height: 60%;
  z-index: -1;
}

/*=============== ABOUT US ===============*/

.about h1 {
  color: white;
}

.about {
  height: 100%;
  padding: 2% 10%;
  color: white;
  font-weight: 600;
  text-shadow: 5px 2px 10px rgba(0, 0, 0, 0.5);
  background: url(../img/wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.about_description {
  font-size: 1.5em;
  line-height: 2em;
  text-align: center;
  margin: auto;
}

.about a{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  padding: 15px 25px ;
  border-radius: 5px;
  cursor: pointer;
  background: gray;
  color: white;
  transition: 0.6s;
}

.about a:hover{
  background: #161e22;
}

/*=============== PORTFOLIO ===============*/

.quote {
  width: 6%;
  padding-left: 7%;
}

.cards {
  position: relative;
  top: -50px;
  display: grid;
  gap: 8rem;
  grid-auto-flow: column;
  grid-auto-columns: 55%;
  padding: 2% 0 0 500px;
  overflow-x: auto;
  overflow-y: hidden;
}

.cards::-webkit-scrollbar {
  width: 12px;
}

.cards::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.cards::-webkit-scrollbar-track {
  background-color: transparent;
}

.cards::-webkit-scrollbar-corner {
  background-color: transparent;
}

.card {
  width: 100%;
  height: 450px;
  border: #000 1px solid;
  position: relative;
  overflow: hidden;
  cursor: grabbing;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  transition: transform 0.8s;
}

.card i {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: white;
  color: black;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.2rem;
  transition: 0.7s;
}

.card-title {
  position: relative;
  font-size: 1.3em;
  padding-top: 2%;
}

.card:hover .img {
  transform: scale(1.1);
}

.card i:hover {
  width: 45px;
  height: 45px;
  transform: rotate(90deg);
}

/*=============== OUR SERVICES ===============*/

.services {
  padding: 5% 0;
  margin: 0 20%;
}

.services-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px white solid;
  padding: 2% 5%;
  cursor: pointer;
}

.services-details .image {
  width: 40%;
  height: 200px;
  background-size: cover;
  background-clip: border-box;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  margin: 10px;
}

.services-list .title {
  font-size: 1.3rem;
}

.services-details {
  height: 0px;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0 6%;
  font-size: 1.2em;
  transition: 01s;
  gap: 20px;
}

.services-images {
  height: 100%;
  width: 100%;
}

.services-details.show-details {
  height: fit-content;
}

/*=============== OUR VALUES ===============*/

#values {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url();
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
}

svg {
  width: 70%;
  transition: 1s;
}

.values-container {
  visibility: hidden;
  position: absolute;
  width: 50%;
  height: 50%;
  background: white;
  opacity: 60%;
  border: 1px solid rgb(0, 110, 255);
  border-radius: 20px;
  clip-path: inset(0% 50% 0% 50%);
  transition: 1s;
}

.title-line {
  border: 1px black solid;
  border-radius: 25%;
  margin: 0.5em 0 0.5em 0;
}

.values-paragraphs {
  color: black;
  margin: 10%;
  font-size: 1.5rem;
  line-height: 1.6em;
  display: none;
}

.values-paragraphs span {
  font-weight: 600;
}

#circles,
#circles-2,
#circles-3,
#circles-4,
#circles-5,
#circles-6 {
  cursor: pointer;
}

/*=============== OUR VALUES ANIMATION ===============*/

@keyframes values-rectangle-display {
  0% {
    clip-path: inset(0% 90% 0% 0%);
  }

  50% {
    clip-path: inset(0% 0% 0% 100%);
  }

  100% {
    clip-path: inset(0% 0% 0% 0%);
  }
}

@keyframes values-title-display {
  0% {
    clip-path: inset(0% 100% 0% 0%);
  }

  100% {
    clip-path: inset(0% 0% 0% 0%);
  }
}

#Rectangle {
  clip-path: inset(0% 100% 0% 0%);
}

#OUR_VALUES {
  clip-path: inset(0% 100% 0% 0%);
}

.active-7 {
  animation: values-rectangle-display 2s forwards;
}

.active-8 {
  animation: values-title-display 1.3s forwards;
}

@keyframes topRight {
  0% {
    clip-path: inset(90% 95% 0% 0%);
  }

  40% {
    clip-path: inset(0% 95% 0% 0%);
  }

  100% {
    clip-path: inset(0% 0% 0% 0%);
  }
}

@keyframes topLeft {
  0% {
    clip-path: inset(90% 0% 0% 95%);
  }

  40% {
    clip-path: inset(0% 0% 0% 95%);
  }

  100% {
    clip-path: inset(0% 0% 0% 0%);
  }
}

@keyframes rightCenter {
  0% {
    clip-path: inset(0% 100% 0% 0%);
  }

  100% {
    clip-path: inset(0% 0% 0% 0%);
  }
}

@keyframes LeftCenter {
  0% {
    clip-path: inset(0% 0% 0% 100%);
  }

  100% {
    clip-path: inset(0% 0% 0% 0%);
  }
}

@keyframes bottomRight {
  0% {
    clip-path: inset(0% 95% 90% 0%);
  }

  40% {
    clip-path: inset(0% 95% 0% 0%);
  }

  100% {
    clip-path: inset(0% 0% 0% 0%);
  }
}

@keyframes bottomLeft {
  0% {
    clip-path: inset(0% 0% 90% 95%);
  }

  40% {
    clip-path: inset(0% 0% 0% 95%);
  }

  100% {
    clip-path: inset(0% 0% 0% 0%);
  }
}

#line-left-top {
  clip-path: inset(0% 0% 100% 100%);
}

#line-left-center {
  clip-path: inset(0% 0% 100% 100%);
}

#line-left-bottom {
  clip-path: inset(0% 0% 100% 100%);
}

#line-right-top {
  clip-path: inset(0% 0% 100% 100%);
}

#line-right-center {
  clip-path: inset(0% 0% 100% 100%);
}

#line-right-bottom {
  clip-path: inset(0% 0% 100% 100%);
}

.active-1 {
  animation: topLeft 2.3s 0.1s forwards;
}
.active-2 {
  animation: LeftCenter 1.8s 1.5s forwards;
}
.active-3 {
  animation: bottomLeft 2.8s 0.1s forwards;
}
.active-4 {
  animation: topRight 2s 0.3s forwards;
}
.active-5 {
  animation: rightCenter 2.5s 0.4s forwards;
}
.active-6 {
  animation: bottomRight 3s 0.3s forwards;
}

@keyframes flashing {
  0% {
    opacity: 0%;
  }

  39% {
    opacity: 0%;
  }

  40% {
    opacity: 80%;
  }

  79% {
    opacity: 80%;
  }

  80% {
    opacity: 10%;
  }

  99% {
    opacity: 10%;
  }

  100% {
    opacity: 100%;
  }
}

#circles,
#Transparency {
  opacity: 0%;
}

#circles-2,
#Creativity {
  opacity: 0%;
}

#circles-3,
#Responsibility {
  opacity: 0%;
}

#circles-4,
#Adaptability {
  opacity: 0%;
}

#circles-5,
#Collaboration {
  opacity: 0%;
}

#circles-6,
#Innovation {
  opacity: 0%;
}

.active-circle-1 {
  animation: flashing 0.5s 2s forwards;
}
.active-circle-2 {
  animation: flashing 0.5s 2.3s forwards;
}
.active-circle-3 {
  animation: flashing 0.5s 2.2s forwards;
}
.active-circle-4 {
  animation: flashing 0.5s 2.1s forwards;
}
.active-circle-5 {
  animation: flashing 0.5s 2.4s forwards;
}

/*=============== CONTACT US ===============*/

.contact-form {
  padding-left: 20%;
}

.contact-input {
  position: relative;
  top: -100px;
  width: 30%;
  padding: 1% 30% 1% 0.2%;
  margin-top: 5%;
  background: transparent;
  border: none;
  border-bottom: 1px white solid;
  color: white;
  font-size: 1.3em;
  outline: none;
}

.contact-send {
  position: relative;
  top: -80px;
  background: transparent;
  color: white;
  outline: none;
  font-size: 2em;
  border: none;
  cursor: pointer;
  padding-left: 5%;
}

.contact-form i {
  position: relative;
  top: -80px;
  font-size: 1.5em;
}

/*=============== BLOG ===============*/
.blog-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates four equal-width columns */
  gap: 20px;
  padding: 0 20%;
}

.blog-container {
  width: 100%;
  height: 100%;
  background-color: #0f161a;
  border-radius: 15px;
  padding: 5px;
}
.blog-container img {
  width: 100%;
  border-radius: 15px;
}
.blog-container h1 {
  font-size: 15px;
  padding: 0;
  margin: 0;
}
.blog-container p {
  font-size: 10px;
  padding: 0;
  margin: 0;
}

.blog-container a {
  text-decoration: none;
  color: #ff4d00;
}

/*=============== FOOTER ===============*/

.footer-distributed {
  background: #0f161a;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 200px;
  border-top: 1px solid black;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #ff4d00;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #ff4d00;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
